@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  border-radius: 0.5rem;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.input-sold {
  border-color: #ef4444 !important;
  color: #b91c1c;
  font-weight: 500;
}

.input-error {
  background-color: #fecaca !important;
  color: #b91c1c;
  font-weight: bold;
}

.row-warning {
  background-color: #fef9c3 !important;
}

